body
{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color:white;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.TITLE
{
 width: 100%;
 height: 20%;
 

}

.DOCUMENTATION
{
 width: 30%;
 height: 200px;
 margin: 10%;
 background-color: rgb(167, 166, 166);
 text-decoration: none;
 list-style:none;
 float: left;
}

.RECIPES
{
 width: 30%;
 height: 200px;
 margin: 10%;
 background-color: rgb(167, 166, 166);
 text-decoration: none;
 list-style:none;
 float: LEFT;
}

  
    p{
         font-size: 20px;
         font-family:Helvetica;
         margin-top: 0px;
         width: 200px;
    }

    h1 {
      font-size: 32px;
      font-family: Helvetica;
      color: black;
    }

    h2 {
      font-size: 60px;
      font-family: Helvetica;
      color: black;
    }


  